<button
  type="button"
  [disabled]="disabled"
  (click)="action.emit()"
  (click)="(action)"
  (mouseover)="hover(true)"
  (mouseout)="hover(false)"
  [class]="theme + ' ' + size + ' ' + buttonClass"
  [style.width]="customWidth"
>
  @if (iconName && iconPosition == "left") {
    <i class="fa {{ iconName }} {{ iconPosition }}" aria-hidden="true"></i>
  }
  <span>{{ label }}</span>
  @if (iconName && iconPosition == "right") {
    <i class="fa {{ iconName }} {{ iconPosition }}" aria-hidden="true"></i>
  }
</button>
