<app-base-modal
  #dialog
  titleModal="Edit contact"
  (isOpened)="dialogOpened = true"
  (isClosed)="action.emit()"
>
  @if (initForm && dialogOpened) {
    <form id="contact-form" [formGroup]="contactForm">
      <div class="contact">
        <app-input-text
          id="first_name"
          title="First name"
          [control]="getAsFormControl('first_name')"
        />

        <app-input-text
          id="last_name"
          title="Last name"
          [control]="getAsFormControl('last_name')"
        />

        <app-input-text
          id="company"
          title="Company"
          [control]="getAsFormControl('company')"
        />

        <app-input-text
          id="email"
          title="e-mail"
          type="email"
          [control]="getAsFormControl('email')"
        />

        <app-input-text
          id="notes"
          title="notes"
          [control]="getAsFormControl('notes')"
        />
        <div class="w-full">
          <app-button
            theme="primary"
            size="sm"
            label="Save"
            customWidth="100%"
            buttonClass="mt-4"
            (action)="submitForm()"
          />
        </div>
      </div>
    </form>
  }
</app-base-modal>
