<div class="input--col">
  @if (title) {
    <label [for]="'label-' + id" class="input--label mb-1">
      {{ title }}
      <span *ngIf="subtitle">{{ subtitle }}</span>
    </label>
  }
  <input
    [id]="'label-' + id"
    [name]="id"
    [type]="type"
    [autocomplete]="autocomplete"
    [formControl]="control"
    [value]="value"
    [placeholder]="placeholder"
    [max]="max"
    [min]="min"
    [ngClass]="{
      'input__text--error':
        getErrors().length !== 0 &&
        control.invalid &&
        (control.dirty || control.touched),
    }"
    class="input__text"
  />

  @if (
    sentErrorOutside == false &&
    getErrors().length !== 0 &&
    control.invalid &&
    (control.dirty || control.touched)
  ) {
    <div class="mt-1">
      <div class="">
        @for (error of getErrors(); track error) {
          <app-info-message
            iconName="fa-exclamation-circle"
            iconClass="error"
            [message]="errorMessages[error] ? errorMessages[error] : error"
          />
        }
      </div>
    </div>
  }
</div>
