<app-base-modal #dialog titleModal="Create new contact">
  @if (initForm) {
    <form id="contact-form" [formGroup]="contactForm">
      <div class="contact">
        <app-input-text
          id="first_name"
          title="First name"
          [control]="getAsFormControl('first_name')"
        />

        <app-input-text
          id="last_name"
          title="Last name"
          [control]="getAsFormControl('last_name')"
        />

        <div formArrayName="phones">
          @for (phone of phones.controls; track $index) {
            <div class="phones" [formGroupName]="$index">
              <div class="phones--col">
                <app-input-text
                  id="phone"
                  title="Phone"
                  type="text"
                  [sentErrorOutside]="true"
                  (errorOutMessage)="
                    receiveErrorMessage({ index: $index, message: $event })
                  "
                  [control]="getPhoneControl($index, 'phone')"
                />
              </div>
              @if (typesList) {
                <div class="phones--col dropdown">
                  <app-dropdown
                    [options]="typesList"
                    (action)="hearTypeSelected($event)"
                  />
                </div>
              }
              <div class="phones--col remove">
                <a (click)="removePhone($index)">
                  <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <!-- Error message display -->
            @if (getPhoneError($index)) {
              <div class="w-full">
                <div class="mt-1">
                  <div *ngFor="let item of phoneErrorMessages | keyvalue">
                    <div class="flex">
                      <div>
                        <i
                          class="fa fa-exclamation-circle error"
                          aria-hidden="true"
                        ></i>
                      </div>
                      <div class="ml-2 text-sm error-message">
                        {{ item.value }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          }
          <button (click)="addPhone()">Add Phone</button>
        </div>

        <app-input-text
          id="company"
          title="Company"
          [control]="getAsFormControl('company')"
        />

        <app-input-text
          id="email"
          title="e-mail"
          type="email"
          [control]="getAsFormControl('email')"
        />

        <app-input-text
          id="notes"
          title="notes"
          [control]="getAsFormControl('notes')"
        />
        <div class="w-full">
          <app-button
            theme="primary"
            size="sm"
            label="Save"
            customWidth="100%"
            buttonClass="mt-4"
            (action)="submitForm()"
          />
        </div>
      </div>
    </form>
  }
</app-base-modal>
