$main-color: #43bac0;
$hover-color: #66c6cb;

.input-container {
  display: flex;
  width: 100%; /* Ensure the parent container takes the full width */
}

.search-submit {
  flex-shrink: 0; /* Prevent the submit button from shrinking */
}

::placeholder {
  color: #757575;
  opacity: 1;
}

.search-input {
  flex-grow: 1; /* Allow the input to take up as much space as possible */
  width: 100%; /* Ensure the input itself occupies 100% of the available space */
  background: #eeeeee;
  color: #212121;
  vertical-align: middle;
  font-size: 16px;
  line-height: 2;
  padding: 10px 20px;
  border: 0;
  outline: none;
  box-shadow:
    inset 0 -1px 1px -1px #cccccc,
    inset 0 1px 1px -1px #cccccc,
    inset 1px 0 1px -1px #cccccc;
}

.search-submit {
  background: $main-color;
  color: #ffffff;
  vertical-align: middle;
  padding: 0 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  flex-shrink: 0; /* Prevent the submit button from shrinking */
}

.search-submit:hover {
  background: $hover-color;
}

.search-submit i {
  font-size: 24px;
}
