@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat/static/Montserrat-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/montserrat/static/Montserrat-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/montserrat/static/Montserrat-Medium.ttf")
    format("truetype");
}
